<%= link_to "Download_pdf", download_pdf_products_path(:format => 'pdf'), :target => "_blank" %>
<table class="responstable">
  <thead>
    <tr>
      
      <td>
        <b>
          product TYPE
        </b>
      </td>
      <td>
        <b>
          CATEGORY
        </b>
      </td>
      <td>
        <b>
          PRODUCT
        </b>
      </td>
      <td>
        <b>
          QUNATITY
        </b>
      </td>
      
      <td>
        <b>
          REQUEST RAISED AT
        </b>
      </td>
      
    </tr>
    <% @product.each do |product| %>
      <tr>
        <td>
          <%= product.product_name %>
        </td>
        <td>
          <%= product.product_category %>
        </td>
        <td>
          <%= product.contact_number %>
        </td>

        <td>
          <%= product.email_error_url %>
        </td>
        
        <td>
          <%= product.created_at.to_datetime.strftime("%d/%m/%Y %I:%M:%S %p") %>
        </td>
        
      </tr>
    <% end %>  
  </thead>
</table>

